<div class="container">
    <div class="chart">
      <div class="thumbnail">
        <img
          id="image1"
          class="card-img-top image"
          src="assets/images/image1.jpg"
          alt="Card image1"
        />
        <div class="card-body">
          <a class="btn btn-primary imageId"> Image 1</a>
        </div>
      </div>
    </div>
    <div class="chart">
      <div class="thumbnail">
        <img
          id="image2"
          class="card-img-top image"
          src="assets/images/image2.jpg"
          alt="Card image2"
        />
        <div class="card-body">
          <a class="btn btn-primary imageId">Image 2</a>
        </div>
      </div>
    </div>
    <div class="chart">
      <div class="thumbnail">
        <img
          id="image3"
          class="card-img-top image"
          src="assets/images/image3.jpg"
          alt="Card image3"
        />
        <div class="card-body">
          <a class="btn btn-primary imageId">Image 3</a>
        </div>
      </div>
    </div>
</div>
<button type="button" id="download" class="btn btn-primary">Download</button>
<button type="button" id="upload" class="btn btn-secondary">Upload</button>
<button type="button" id="reset" class="btn btn-success">Reset</button>
