.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}
.fill {
  fill: #2e2c2f;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #CCC;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}
#graph {
  padding: 10px;
}
